
/*  Top navbar CSS */
.topnav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: #e1e1e1;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.logo-home {
    display: flex;
    text-decoration: none;
}
.logo{
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin: auto 20px auto 100px;
    border: 1px solid #002f8d;
    border-radius: 20px;
}
.logo img{
    max-width: 60px;
    width: auto;
    height: auto;
}
.app-name{
    margin: auto;
}
.app-name h4{
    margin: 0;
    font-size: 26px;
    color: #002f8d;
    text-shadow: 1px 1px 3px #56a7c9;
}
.app-name span{
    color: #002f8d;
    text-shadow: 1px 1px 3px #2e436b;
}

.option{
    display: flex;
    margin-right: 50px;
}
.option a{
    text-decoration: none;
}

.my-profile, .setting, .log-out{
    border-radius: 20px;
    margin: auto 10px;
    padding: 10px;
}
.option a:link, .option a:visited{
    color: #002f8d;
    border: 2px solid #002f8d;
}
.option a:hover{
    border: 2px solid #002f8d;
    background-color: #6db2c8;
    margin: auto 10px;
    padding: 10px;
    color: white;
}
.option a:active{
    color: white;
    background-color: #40698e;
    border: 2px solid #86c8cd;
}




/* Footer */

.footer{
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .footer {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
  }

  .footer {
    margin: 500px auto 0;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social-icon,
  .footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }

  .wave#wave1 {
    z-index: 2;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 1;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 2;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 1;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }