body {
    margin: 0;
}
.red {
    border: 1px solid red;
}
.blue {
    border: 1px solid blue;
}
img{
    width: 100%;
}
/* Chat icon css */
.chatbox{
    width: 70px;
    height: 70px;
    position: fixed;
    border-radius: 20px;
    bottom: 35px;
    right: 35px;
    z-index: 10;
}
.chat-link{
    text-decoration: none;
    text-align: center;
}
.chat-link:visited {
    color: #155069;
    font-weight: 400;
}
.chat-label{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    background-color: #7da8ce;
    text-shadow: 1px 1px 5px #15069F;
    text-align: center;
    z-index: 10;
}
.chat-label i{
    font-size: 25px;
    margin: 10px auto 0;
    width: 31px;
    height: 31px;

}
.chat-label span{

}

/*  Top navbar CSS */
.topnav{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #415771;
    justify-content: space-between;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.logo-home {
    display: flex;
}
.logo{
    width: 50px;
    min-width: 50px;
    height: 50px;
    background-image: url('/img/hitmeup.jpg');
    margin: auto 20px auto 100px;
    border: 1px solid rgb(255, 255, 255);
}
.app-name{
    margin: auto;
}
.app-name h4{
    margin: 0;
    font-size: 26px;
    color: #81d0e9;
    text-shadow: 1px 1px 3px #56a7c9;
}
.app-name span{
    color: #56a7c9;
    text-shadow: 1px 1px 3px #155069;
}

.option{
    display: flex;
    margin-right: 50px;
}
.option a{
    text-decoration: none;
}

.my-profile, .setting, .log-out{
    border-radius: 20px;
    margin: auto 10px;
    padding: 10px;
}
.option a:link, .option a:visited{
    color: #81d0e9;
    border: 1px solid #86c8cd;
}
.option a:hover{
    border: 1px solid #6db2c8;
    background-color: #6db2c8;
    margin: auto 10px;
    padding: 10px;
    color: white;
}
.option a:active{
    color: white;
    background-color: #40698e;
    border: 1px solid #86c8cd;
}

/* Top profile */
.top-profile {
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 97%;
    margin: 25px auto 0;
    background-color: rgb(164, 181, 174);
    border: 1px solid rgb(122, 122, 122);
    border-radius: 20px;
}
.avatar-name{
    display: flex;
    max-width: 53%;
}
.avatar{
    width: 160px;
    height: 160px;
    margin: auto 20px;
    border: 1px solid black;
    border-radius: 50%;
}
.avatar img{
    border-radius: 50%;
}
.name{
    margin: auto 0;
}
#name-profile{
    margin: 10px 0;
    font-size: 40px;
}
.rated{

}
#point-rate, #point-max{
    font-size: 24px;
    font-weight: 400;
    display: inline;
}
.rated i{
    font-size: 20px;
    color: yellow;
}

/* Top profile right */
.info-profile{
    margin: auto 25px auto 0;
    max-width: 45%;
}
.contacts-vote{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.contacts-list{
    display: flex;
}
.contact{
    margin: auto 10px;
    text-decoration: none;
}
.icon-contact{
    width: 30px;
}
.contact i{
    font-size: 30px;
}

.vote-profile{
    padding: 10px 20px;
    margin: 10px 5px;
    background-color: rgb(170, 186, 204);
    border: 1px solid green;
    border-radius: 20px;
    text-decoration: none;
    box-sizing: border-box;
}
.votestar{
    height: 100%;
    margin: auto;
}

.address-info{

}
.address-info a{
    text-decoration: none;
}
.address-info h4{
    display: inline;
}

/* buttom-profile */
.buttom-profile{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
/*buttom-profile left */
.bio{

    width: 39%;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.bio-title{
    text-align: center;
}
.bio-content{
    text-indent: 16px;
}

/*buttom-profile right */
.buttom-profile .menu{
    width: 59%;
    max-height: 500px;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
    border-radius: 20px;
}
.menu-title{
    text-align: center;
}
.menu-title h3{
    font-size: 30px;
    margin: 15px 0;
    text-transform: uppercase;
}
.list-type{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-type .type{
    border-radius: 20px;
    padding: 5px 10px;
    margin: 0 5px;
    font-size: 16px;
    background-color: aquamarine;
}
.list-type .type:hover{
    background-color: rgb(122, 220, 187);
}
.list-type .type:active{
    background-color: rgb(31, 121, 91);
    color: azure;
}

/* list product */
.list-menu{
    display: flex;
    height: 80%;
    margin: 10px 0;
    justify-content: space-between;
    box-sizing: border-box;
}
.left-list, .right-list{
    margin: auto 0;
    border: none;
}
.products-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-height: 520px;
    align-items: center;
    overflow-y: auto;
}

.product{
    width: 121px;
    height: 170px;
    padding: 2px;
    margin: 10px 10px;
    background-color: rgb(255, 234, 182);
    border: 1px solid whitesmoke;
    border-radius: 20px;
}
.product-img{
    max-width: 100%;
}
.product-img img{
    width: 100%;
    height: 100px;
    border-radius: 20px;
}
.product-name{
    max-height: 40px;
}
.product-name h4{
    margin: 0;
}
.product-price-buy{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    position: static;
    top: 10px;
}
.product.price{

}
.buy{

}

/* Contents */
.contents{
    width: 85%;
    background-color: #c2eaf7;
    margin: 30px auto;
    border-radius: 20px;
    padding: 0 0 5px 0;
    box-sizing: border-box;
}

/* Top contents */
.top-contents{
    display: flex;
    justify-content: space-between;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: #8fd0ec;
    padding-bottom: 10px;
}
.top-contents-left{
    margin: 10px 0 0 20px;
}
.top-contents-left i{
    font-size: 30px;

}
.top-contents-left h1{
    margin: 0 5px;
    display: inline;
}
.top-contents-right{

}
/* List posts */
.list-contents{

}
.posts{
    margin: 20px 10px;
    max-height: 900px;
    border: 1px solid grey;
    border-radius: 20px;
    background-color: #e9e9e9;
    padding: 10px;
    box-sizing: border-box;
}
/* avatar - name- time */
.top-posts{
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid black;
}
.top-posts .left{
    display: flex;
}
.top-posts .left-avatar{
    width: 60px;
    height: 60px;
    margin: 0 10px;
}
.top-posts .left-name-time{
    margin: auto 0;
}
.top-posts .name h4{
    margin: 0;
}
.top-posts .time{

}
.top-posts .right{

}

.content-post{
    width: 100%;
}
.content-post .text{

}
.content-post .images{
    width: 99%;
    height: 500px;
}
img{
    width: 100%;
    height: 100%;
}

.bottom-posts{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.like-posts, .share-posts{
    margin: 10px;
    border: 1px solid rgb(255, 134, 134);
    border-radius: 20px;
    background-color: antiquewhite;
    flex: 0.1;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.like-posts .like-btn{
    margin: auto 0;
}

.share-posts .share-btn{
    margin: auto 0;
}

.cmt-posts{
    flex: 0.8;
    border-radius: 20px;
    background-color: antiquewhite;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.cmt-posts i{
    margin: auto 10px;
}
.cmt-posts form{
    width: 100%;
    display: flex;
}
.cmt-posts textarea{
    background: #fff;
    border: 1px solid #56a7c9;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 85%;
    width: 95%;
    display: block;
    overflow: hidden;
    resize: none;
    padding: 0;
    margin: auto;
    -webkit-transition: height .15s cubic-bezier(.4,0,1,1);
    -o-transition: height .15s cubic-bezier(.4,0,1,1);
    transition: height .15s cubic-bezier(.4,0,1,1);
    font-size: 15px;
    box-sizing: border-box;
}
.cmt-posts input{
    margin: auto 10px auto 0;
    padding: 5px 10px;
    border: 1px solid #56a7c9;
    height: 85%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* Footer */

.footer{
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .footer {
    display: flex;
    background: #333;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
  }

  .footer {
    margin: 200px auto 0;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .social-icon,
  .footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  .social-icon__item,
  .menu__item {
    list-style: none;
  }

  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }

  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }

  .menu__link:hover {
    opacity: 1;
  }

  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }

  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }

  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }

  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }

  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }

  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }

  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }

  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
