{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{% static 'foods.css'%}"></link>
    <link rel="stylesheet" href="{% static 'tabbar.css'%}">
    <link rel="stylesheet" href="{% static 'list.css'%}">
    <link rel="stylesheet" href="{% static 'product.css'%}">
    <link rel="stylesheet" href="{% static 'container.css'%}">
    <link rel="stylesheet" href="{% static 'form.css'%}">
    <link rel="stylesheet" href="{% static 'table_statistics.css'%}">
    <script src="https://kit.fontawesome.com/bc4d8a1311.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>

    {% for message in messages %}
        <div id="alert-message" js-message="{{message}}"></div>
    {% endfor %}
    <script>
        var message = document.getElementById('alert-message').getAttribute('js-message');
        alert(message);
    </script>

    <header>
        <a href="{% url 'profilepage:profilePage' acc.id%}" class="profile_link" style="position:absolute; left:10px; color:white; text-decoration:none; border:2px solid white; padding:5px">
            ← back to profile
        </a>
        <h1>Settings</h1>
    </header>

    <nav>
        <a href="{% url 'settingspage:gerenalPage'%}">General</a>
        {% if acc.role == 'manager' %}
        <a href="{% url 'settingspage:product'%}">Products</a>
        <a href="{% url 'settingspage:billsPage'%}">Bills</a>
        <a href="{% url 'settingspage:statisticsPage'%}">Statistics</a>
        {% endif %}
        <a href="{% url 'settingspage:postPage'%}">Posts</a>
    </nav>
  
    {% block product %}{% endblock  %}
    {% block bills %}{% endblock  %}
    {% block statistics %}{% endblock  %}
    {% block post %}{% endblock  %}
    {% block general %}{% endblock  %} 
</body>
</html>