.food-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Tự động điều chỉnh số cột và kích thước ô */
    grid-gap: 20px;
    max-width: 800px;
    margin: 20px auto;
}

.food-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-item img {
    
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0; /* Bo tròn góc ảnh phía trên */
}

.food-item p {
    padding: 10px;
    text-align: center;
    margin: 0;
}
