ul {
    list-style: none;
    padding: 0;
    margin: 30px;
}

li {
    cursor: pointer;
    text-align: center;
    background-color: aqua;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}
li:hover {
    background-color: aliceblue;
}