body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    /* align-items: center; */
} 

nav {
    
    display: flex;
    justify-content: center;
    background-color: #444;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

section {
    display: none;
    padding: 20px;
}
button {
    background-color: gold;
    color: #333;
    padding: 10px;
    font-size: 16px;
    border-radius: 25px;
    border : 2px solid #3498db;
    margin: 0 auto; /* Canh giữa theo chiều ngang */
    display: block; /* Chuyển thành phần tử block để margin:auto hoạt động */
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}
button:hover{
    background-color: #3498db;
    color: #fff;
}
dialog {
    
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}