{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo bài viết</title>
    <link rel="stylesheet" href="{% static 'AddPost.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<form method="post" action="{% url 'settingspage:testCreatePosts' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="maincontainer">
        <div class="content">
            <h1 id="title">Tạo bài viết</h1>
            <div class="info">
                <img src="{{user.avatar.url}}" alt="image" width="70px" height="70px">
                <h3 class="name"> {{user.name}}</h3>
                <p>Time: {{time}}</p>
                <p>Đang ở:
                  <select name="provider_post" id="provider_post">
                      {% for pro in provider %}
                      <option  value="{{pro.account_id}}">{{pro.name}}</option>
                      {% endfor %}
                      <option selected value="None">None</option>
                  </select>
                </p>
                
                <i class="fa-solid fa-location-dot"></i>
                <select  class="form-select form-select-sm mb-3" id="city" name="city" aria-label=".form-select-sm" required>
                    <option value="" selected>Chọn tỉnh thành</option>           
                    </select>
                              
                    <select class="form-select form-select-sm mb-3" id="district" name="district" aria-label=".form-select-sm" required>
                    <option value="" selected>Chọn quận huyện</option>
                    </select>
                    
                    <select class="form-select form-select-sm" id="ward" name="ward" aria-label=".form-select-sm" required>
                    <option value="" selected >Chọn phường xã</option>
                </select>
                <h4><input required id="address_post" name="address_post" placeholder="Nhập nhập địa chỉ cụ thể" class="tieude"></h4>
                
                <h3><input required id="title_post" name="title_post" type="text" placeholder="Nhập tiêu đề" class="tieude"></h3>
                <textarea required id="content_post" name="content_post"  cols="78" rows="15" placeholder="Nhập nội dung vào đây nhé"></textarea>
                <p>Chọn ảnh:</p>
                <input type="file" name="images" id="images" multiple>
                <div class="submit">
                <button type="submit">Submit</button>
                <a href="{% url 'settingspage:testPostPage' %}"><button type="button" id="cancel">Cancel</button></a>
                </div>
                
            
            </div>
        </div>
    </div>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script>
    var citis = document.getElementById("city");
    var districts = document.getElementById("district");
    var wards = document.getElementById("ward");
    var Parameter = {
      url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json", 
      method: "GET", 
      responseType: "application/json", 
    };
    var promise = axios(Parameter);
    promise.then(function (result) {
      renderCity(result.data);
    });

    function renderCity(data) {
      for (const x of data) {
        citis.options[citis.options.length] = new Option(x.Name, x.Id);
      }
      citis.onchange = function () {
        district.length = 1;
        ward.length = 1;
        if(this.value != ""){
          const result = data.filter(n => n.Id === this.value);

          for (const k of result[0].Districts) {
            district.options[district.options.length] = new Option(k.Name, k.Id);
          }
        }
      };
      district.onchange = function () {
        ward.length = 1;
        const dataCity = data.filter((n) => n.Id === citis.value);
        if (this.value != "") {
          const dataWards = dataCity[0].Districts.filter(n => n.Id === this.value)[0].Wards;

          for (const w of dataWards) {
            wards.options[wards.options.length] = new Option(w.Name, w.Id);
          }
        }
      };
    }
</script>
</body>
</html>