* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* header */
.header {
  height: 80px;
  background-color: #bcd3a3d2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
}

.header h1 {
  line-height: 60px;
  text-align: center;
  margin-left: 80px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.nav {
  display: flex;
  gap: 10px;
}

.nav a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  border: 1px solid #b09e9e;
  border-radius: 15px;
}

.nav a:hover {
  background-color: #ccc;
}

/* .container */
.container {
  display: flex;
  height: calc(100vh - 80px);
}

/* .header {
  position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: black;
    color: aliceblue;
    align-items: center;
} */

/* .menu {
  margin-top: 80px;
  width: 300px;
  background-color: gray;
  color: white;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding: 50px 0px 0px 75px;
}

.menu img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.menu i {
  margin-top: 10px;
  cursor: pointer;
  height: 60px;
  padding: 0 10px 0 0;
} */

/* sidebar */
.sidebar {
  width: 300px;
  background-color: #bbe8e0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.sidebar i {
  padding: 20px;
  font-size: 20px;
}

.sidebar h3 {
  font-size: 24px;
  font-weight: normal;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sidebar img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar span {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}



/* .restaurant-list {
  flex: 1;
  overflow-y: scroll;
} */

/* content */
.content {
  flex: 1;
  display: flex;
  gap: 20px;
  padding: 15px;
}

.content .col {
  width: 50%;
  background-color: #fff;
  overflow-y: auto;
}

.content .post {
  display: flex;
  flex-direction: column; /* cac post se sx theo cot */
  gap: 20px; /* khoang cac giua cac post */
}

/* .content .post .user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content .post .user img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.content .post .user .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.content .post .user .info .name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.content .post .user .info .time {
  font-size: 14px;
  font-weight: normal;
  color: #999;
}

.content .post .text {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.content .post .actions {
  display: flex;
  gap: 10px;
}

.content .post .actions button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.content .post .actions button:hover {
  color: #00f;
} */

.post-content {
  margin: 10px;
  padding: 20px 20px 30px 20px;
  border: 2px solid #ccc;
  border-radius: 30px;
}

.post-content .sharer-info {
  padding: 10px;
}

.post-content .provider-info {
  margin: 10px 10px 0px 10px;
}

.post h3 {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 5px;
}

.post-content p {
  padding: 10px;
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
}

.post-photo {
  width: 100%;
  height: 200px;
}

.post .post-photo img {
  width: calc(33% - 8px);
  height: 200px;
  border-radius: 10%;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.post-actions i {
  font-size: 15px;
  cursor: pointer;
}

.post-content .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.post-comment {
  padding: 20px 20px 0px 40px;
}

.post-comment input {
  display: inline-block; 
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-top: 5px; 
  padding: 10px; 
  width: 300px;
}
