{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="{% static 'css/styles.css'%}"></link>
        <link rel="stylesheet" href="{% static 'css/header.css'%}"></link>
        <link rel="stylesheet" href="{% static 'css/slideshow.css'%}"></link>
        <link rel="stylesheet" href="{% static 'css/topshop.css'%}"></link>
        <link rel="stylesheet" href="{% static 'css/toppost.css'%}"></link>
        <link rel="stylesheet" href="{% static 'css/saleoff.css'%}"></link>
        <link rel="stylesheet" href="{% static 'css/footer.css'%}"></link>

        <!-- js -->
        
        <script src="https://kit.fontawesome.com/f7ff863b9b.js" crossorigin="anonymous"></script>
        <link rel = "icon" href ="{% static 'images/logo.png' %}" type = "image/x-icon"> 
        <title>BKvivu - nền tảng chia sẻ hàng đầu dành cho sinh viên</title>
        
    </head>
    <body>
        {% for message in messages %}
            <div id="alert-message" js-message="{{message}}"></div>
        {% endfor %}
        <script>
            var message = document.getElementById('alert-message').getAttribute('js-message');
            alert(message);
        </script>

        <div class="header">
            <div class="left">
                <a href="" class="logo">
                    <img src="{% static 'images/logo.png' %}"  alt="logo">
                    <div class = "description">
                        <h2>BKvivu</h2>
                        <p>Nền tảng chia sẻ dịch vụ hàng đầu</p>
                    </div> 
                </a>
            </div>
            
            <div class="center">
                <form action = "search" method = "POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Nay đi đâu ta ..." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
                
            <div class="right">
                <div id="-box-nav">
                    <a href="{% url 'postspage:postsPage' %}" id="community"><i class="fa fa-fw fa-users"></i> Cộng đồng</a>
                    <div class="subnav">
                        <a href="">Dịch vụ</a>
                        <a href="">Bài chia sẻ</a>
                    </div>
                </div>
                <div class="setting_icon">
                    <a href="{% url 'settingspage:settingsPage' %}" class="setting">
                        <div >
                        <i class="fa-solid fa-gear"></i>
                        <span>Settings</span>
                        </div>
                    </a>
                </div>
                {% block info_user %}

                {% endblock %}
            </div>
        </div>

        <!-- Slideshow container -->
        <div class="slideshow-container" >
            <div class="mySlides fade">
                <img src="{% static 'images/img11.jpg' %}" style="width:100%; height: 600px">
            </div>
        
            <div class="mySlides fade">
                <img src="{% static 'images/img22.jpg' %}" style="width:100%; height: 600px;">
            </div>
        
            <div class="mySlides fade">
                <img src="{% static 'images/img33.jpg' %}" style="width:100%; height: 600px">
            </div>
        
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>
    
        <!-- top dich vu -->
        <div id="top-shop">
            <h2>TOP DỊCH VỤ</h2>
            <div class="tab">
                {% block tab_shop %}{% endblock tab_shop %}
            </div>
            {% block tab_content %}{% endblock tab_content %}
        </div>
        
        <div id="comment">
            <h2>BÀI VIẾT TIÊU BIỂU</h2>
            <div id="comment-body">
                <div class="prev">
                    <a href="#">
                        <img src="{% static 'images/prev.png' %}" alt="" width="50px">
                    </a>
                </div>
                <ul id="list-comment">
                    <li class="item">
                        1
                        <!-- <div class="avatar">
                            <img src="images/saleoff.png" alt="">
                            <div class="infor">
                                <div class="name">Lê Tấn Đạt</div>
                                <div class="stars">
                                    <span>
                                        <img src="images/star.png" alt="">
                                    </span>
                                    <span>
                                        <img src="images/star.png" alt="">
                                    </span>
                                    <span>
                                        <img src="images/star.png" alt="">
                                    </span>
                                    <span>
                                        <img src="images/star.png" alt="">
                                    </span>
                                    <span>
                                        <img src="images/star.png" alt="">
                                    </span>
                                </div>
                                <div class="bottomline">
                                    <div class="time">11:40 PM</div>
                                    <a href="" class="location"><i class="fa fa-fw fa-location-arrow"></i>Nhà hàng tandat17z</a>
                                </div>
                            </div>
                        </div>
                        <div class="image">
                            <img src="images/img1.jpg" alt="">
                            <img src="images/img1.jpg" alt="">
                        </div>
                        <div class="text">
                            <h3 class="title">Buổi tối thật tuyệt</h3>
                            <p>
                                As a website or application developer, one of the essential elements of navigation is the “Next” and “Previous” buttons.
                                These buttons allow users to easily move from one page to another and are particularly useful for pagination or image sliders.
                                In this tutorial, we’ll take a look at how to create these buttons with CSS.
                            </p>
                        </div> -->
                    </li>
                    <li class="item">
                        2
                    </li>
                    <li class="item">
                        3
                    </li>
                    <li class="item">
                        4
                    </li>
                </ul>
                <div class="next">
                    <a href="#">
                        <img src="{% static 'images/next.png' %}" alt="" width="50px">
                    </a>
                </div>
            </div>
        </div>
    
        <div id="saleoff">
            <div class="box-left">
                <!-- <h1>
                    <span>GIAM GIA LEN DEN</span>
                    <span>45%</span>
                </h1> -->
                {% block products %}{% endblock products %}
                
            </div>
            <div class="box-right">
                <div class="search">
                    
                    <input type="text" placeholder="Nay đi đâu ta ..." name="search">
                    <!-- <button id = "filter" type="submit"><i class="fa fa-filter"></i></button> -->
                    <button id = "search" type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="searchcontent">
                    <button>Bún đậu</button>
                    <button>Cơm rang</button>
                    <button>Nem nướng</button>
                    <button>Công viên</button>
                    <button>Bảo tàng</button>
                </div>
                <div class="filtercontent">
                    <h3>Tìm kiếm theo:</h3>
                    <div class="searchby">
                        <button>Khu vực</button>
                        <button>Thời gian</button>
                    </div>
                </div>
            </div>
        </div>
    
    
        <footer class="footer">
            <div class="waves">
              <div class="wave" id="wave1"></div>
              <div class="wave" id="wave2"></div>
              <div class="wave" id="wave3"></div>
              <div class="wave" id="wave4"></div>
            </div>
            <ul class="social-icon">
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-linkedin"></ion-icon>
                </a></li>
              <li class="social-icon__item"><a class="social-icon__link" href="#">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
            </ul>
            <ul class="menu">
              <li class="menu__item"><a class="menu__link" href="#">Home</a></li>
              <li class="menu__item"><a class="menu__link" href="#">About</a></li>
              <li class="menu__item"><a class="menu__link" href="#">Services</a></li>
              <li class="menu__item"><a class="menu__link" href="#">Team</a></li>
              <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
        
            </ul>
            <p>&copy;2023 BKvivu | BaoDungDatDatThanhTruong</p>
        </footer>
    
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="{% static 'js/header.js' %}"></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    </body>
</html>