#comment{
  width: 60%;
  height: 478px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 250px;
}

#comment-body{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* width: 1000px; */
  height: 600px;
  list-style: none;
  overflow: hidden; /* đã ẩn các trang bên trong */
}

#comment .post-list{
  width: 100%;
  height: 100%;
  border-radius: 30px;
  padding: 0px;
  list-style: none;
  transition: 0.5s;
}


/* #comment .post {
    background-color: rgb(127, 244, 255);
  } */

#comment ul {
    padding: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding: 0px 40px 40px 40px;
    background-color: #fff;
  }

  #comment ul li {
    position: relative;
    list-style-type: none; 
    height: 600px;
    margin: 0px;
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 30px;
  }

  #comment img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin: 0px 10px 0px 10px;
  }

  #comment .item h2 {
    font-size: 28px;
    margin: 10px auto 10px auto;
  }
  #comment .item h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .info p{
    margin: 5px;
    text-align: justify;
  }
  #comment strong{
    margin: 0px 10px 0px 10px;
  }
  #comment .content {
    height: 220px;
    overflow-y: scroll;
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin: 0px;
  }

  #comment .post-photo {
    position: absolute;
    bottom: 50px;
    width: 95%;
    height: 200;
    display: flex;
    overflow-x: scroll;
  }

  #comment .post-photo img {
    width: auto;
    height: 150px;
    border-radius: 5%;
  }

  #comment .post-actions {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
  }

  #comment .post-actions i {
    font-size: 20px;
    cursor: pointer;
  }

  #comment .avatar-user img {
    padding: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
  }