{% extends "profilepage/base.html" %}

    {% block buttom_profile %}
    <!--  buttom-profile -->
    <div class="buttom-profile">
        <div class="bio">
            <div class="bio-title">
                <h3>Mô tả</h3>
            </div>
            <div class="bio-content">
                <p>{{ user.bio }}</p>
            </div>
        </div>
        <div class="menu">
            <div class="menu-title">
                <h3>Menu</h3>
            </div>
            <div class="list-type">
                <button class="type">
                    <span>Nước uống</span>
                </button>
                <button class="type">
                    <span>Ăn vặt</span>
                </button>
                <button class="type">
                    <span>Tô tượng</span>
                </button>
            </div>
            <div class="list-menu">
                <div class="products-list">
                    <!-- Product list-->
                    {% if user.account.role == 'manager' %}
                        {% for product in user.product_set.all %}
                        {% comment %} Product {% endcomment %}
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{ product.img.url }}" alt="">
                                </div>
                                <div class="product-name">
                                    <h4>{{ product.name }}</h4>
                                </div>
                                <div class="product-price-buy">
                                    <div class="price">
                                        <span>{{product.price}}</span>
                                        <span>Đ</span>
                                    </div>
                                    <button class="buy">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <h4>Không có sản phẩm nào</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock buttom_profile %}
