{% extends "profilepage/base.html" %}


{% comment %} Info profile manager {% endcomment %}
    {% block infoProfileManager %}
    <div class="info-profile">
        <div class="contacts-vote">
            <div class="contacts-list">
                <a target="_blank" href="https://www.facebook.com/pbtruong.03" class="contact">
                    <div class="icon-contact"><i class="fa-brands fa-facebook"></i></div>
                </a>
                <a href="#website" class="contact">
                    <div class="icon-contact"><i class="fa-solid fa-globe"></i></div>
                </a>
                <a href="tel:18008055" class="contact">
                    <div class="icon-contact"><i class="fa-solid fa-phone"></i></div>
                </a>
            </div>
            <a href="#vote" class="vote-profile">
                <div class="votestar">
                    <i class="fa-solid fa-marker"></i>
                    <span>Đánh giá</span>
                </div>
            </a>
        </div>
        <div class="address-info">
            <a href="#map">
                <i class="fa-solid fa-location-dot"></i>
                <h4>{{ target_user.address }}</h4>
            </a>
        </div>
    </div>
    {% endblock infoProfileManager %}

<!--  buttom-profile -->
    {% block buttom_profile %}
    <div class="buttom-profile">
        <div class="bio">
            <div class="bio-title">
                <h3>Mô tả</h3>
            </div>
            <div class="bio-content">
                <p>{{ target_user.bio }}</p>
            </div>
        </div>
        <div class="menu">
            <div class="menu-title">
                <h3>Menu</h3>
            </div>
            <div class="list-type">
                <button class="type">
                    <span>Nước uống</span>
                </button>
                <button class="type">
                    <span>Ăn vặt</span>
                </button>
                <button class="type">
                    <span>Tô tượng</span>
                </button>
            </div>
            <div class="list-menu">
                <div class="products-list">
                    <!-- Product list-->
                    {% if target_user.account.role == 'manager' %}
                        {% for product in target_user.product_set.all %}
                        {% comment %} Product {% endcomment %}
                            <div class="product">
                                <div class="product-img">
                                    <img src="{{ product.img.url }}" alt="">
                                </div>
                                <div class="product-name">
                                    <h4>{{ product.name }}</h4>
                                </div>
                                <div class="product-price-buy">
                                    <div class="price">
                                        <span>{{product.price}}</span>
                                        <span>Đ</span>
                                    </div>
                                    <button class="buy">
                                        <i class="fa-solid fa-circle-plus"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <h4>Không có sản phẩm nào</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock buttom_profile %}
