{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Chat</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'chat.css' %}">
<style type="text/css">

    </style>
</head>
<body>
<a href="{% url 'profilepage:profilePage' acc_id %}"><i style="font-size: 50px; text-decoration: none; font-weight: bold;">Back</i></a>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="container">
<div class="row clearfix">
<div class="col-lg-12">
<div class="card chat-app" style="height: 500px; width: 1000px;">
<div id="plist" class="people-list">
<div class="input-group">
<div class="input-group-prepend">
<span class="input-group-text"><i class="fa fa-search"></i></span>
</div>
<input type="text" class="form-control" placeholder="Search...">
</div>
<ul class="list-unstyled chat-list mt-2 mb-0" style="max-height: 400px; overflow-y: auto;">

{% for user in all_user %}
<a href="{% url 'profilepage:chatPage' acc_id user.account_id %}">
<li class="clearfix" id="{{user.account_id}}">
<img src="{{user.avatar.url}}" alt="avatar">
<div class="about">
<div class="name">{{user.name}}</div>
<div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>
</div>
</li>    
</a>
{% endfor %}

</ul>

</div>
<div class="chat" id="chat-area">
<div class="chat-header clearfix">
<div class="row">
<div class="col-lg-6">
<a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
<img src="{{user2.avatar.url}}" alt="avatar">
</a>
<div class="chat-about">
<h6 class="m-b-0">{{user2.name}}</h6>
<small>Last seen: 2 hours ago</small>
</div>
</div>
<div class="col-lg-6 hidden-sm text-right">
<a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="fa fa-camera"></i></a>
<a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
<a href="javascript:void(0);" class="btn btn-outline-info"><i class="fa fa-cogs"></i></a>
<a href="javascript:void(0);" class="btn btn-outline-warning"><i class="fa fa-question"></i></a>
</div>
</div>
</div>
<div class="chat-history" style="overflow-y: scroll; max-height: 350px; height: 350px;" id="chat-history">
<ul class="m-b-0" id="chat-history-ul">

    {% for mes in message %} 
    {% if mes.sender_id == user1.account_id %}
    <li class="clearfix" id="{{mes.id}}">
        <div class="message-data">
        <span class="message-data-time">{{mes.time}}</span>
        </div>
        <div class="message my-message">{{mes.content}}</div>
    </li>
    {% elif mes.sender_id == user2.account_id %}
        <li class="clearfix" id="{{mes.id}}">
        <div class="message-data text-right">
        <span class="message-data-time">{{mes.time}}</span>
        <img src="{{user2.avatar.url}}" alt="avatar">
        </div>
        <div class="message other-message float-right">{{mes.content}}</div>
        </li>
    {% endif %}
    {% endfor %}

</ul>
</div>

<div style="display: flex;" class="chat-message clearfix">
<div class="input-group mb-0">
<form id="message_form" style="height: 100%; width: 100%;" method="post" action="">
    {% csrf_token %}
<input type="text" class="form-control" placeholder="Enter text here..." id="content" name="content" required>
</div>
<div class="input-group-prepend">
    <button class="input-group-text" type="submit" id="submitButton">
        <i class="fa fa-send"></i>
    </button>
</div>
<label for="fileInput" id="imageIcon"><i class="fa fa-image"></i></label>
<img width="100px" height="100px" src="" alt="" id="showImg" style="display: none;">
<!-- Input thực tế để chọn file -->

</div>
</div>

<input style="opacity: 0; width: 1px; height: 1px;" type="file" id="fileInput" accept="image/*"  onchange="displaySelectedImage()">
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>

<!-- script phan xu li hinh anh -->
<script>
        function openFileInput() {
            // Kích hoạt sự kiện click trên input thực tế
            document.getElementById('fileInput').click();
        }

        function displaySelectedImage() {
            // Hiển thị ảnh đã chọn (đường dẫn) sau khi người dùng chọn file
            const fileInput = document.getElementById('fileInput');
            const imageIcon = document.getElementById('imageIcon');

            const selectedFile = fileInput.files[0];

            if (selectedFile) {
                const reader = new FileReader();
                var url;
                reader.onload = function (e) {
                    url = e.target.result;
                    document.getElementById('showImg').src = url;

                    // Hiển thị ảnh trên biểu tượng
                };
                reader.readAsDataURL(selectedFile);
                document.getElementById('showImg').style = 'block';
            }
        }
</script>

<script>
    document.getElementById('{{user_id}}').style.backgroundColor = "#efefef";
    var csrf_token = '{{ csrf_token }}';
    var chatContainer = document.getElementById('chat-history');
    var chatHistoryUl = $('#chat-history-ul');

    function scrollToBottom() {
        chatContainer.scrollTop = chatContainer.scrollHeight;
    }
    
    // Gọi hàm scrollToBottom khi trang được tải
    window.addEventListener('load', scrollToBottom);

    $(document).ready(function() {
        $('#message_form').submit(function(e) {

            e.preventDefault();
            var content = $('#content').val().trim();
            if (content.length > 0)
                $.post('{% url "profilepage:saveMessage" acc_id user_id %}', {content: content, csrfmiddlewaretoken: csrf_token,}, function(data) {
                    if (data && data.success) {
                        chatHistoryUl.append(
                            '<li class="clearfix" id="{{message_id}}">'+
                                '<div class="message-data">'+
                                '<span class="message-data-time">'+data.time+'</span>'+
                                '</div>'+
                                '<div class="message my-message">'+data.message+'</div>'+
                            '</li>'
                        );
                        $('#content').val('');
                        chatContainer.scrollTop = chatContainer.scrollHeight;
                        
                    } else {
                    }
                });
            else {
                
            }
        });
        function fetchMessages() {
            $.ajax({
                url: '{% url "profilepage:getMessage" acc_id user_id %}',
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    getMessage(data.messages, data.user1, data.user2);
                },
                error: function(xhr, status, error) {
                    console.error('AJAX Error:', status, error);
                }
            });
        }


        function getMessage(messages, user1, user2) {
        for (const message of messages) {
            var messageId = message.id;

            if (chatHistoryUl.find('.clearfix[id="' + messageId + '"]').length === 0) {
                if (message.sender_id == user1.account_id) {
                } else if (message.sender_id == user2.account_id) {
                    var willScrollDown = false;
                    if (Math.abs(chatContainer.scrollTop - chatContainer.scrollHeight) < 1000) {
                        willScrollDown = true;
                    } 
                    chatHistoryUl.append(
                        '<li class="clearfix" id="' + messageId + '">'+
                            '<div class="message-data text-right">'+
                            '<span class="message-data-time">'+message.time+'</span>'+
                            '<img src="{{user2.avatar.url}}" alt="avatar">'+
                            '</div>'+
                            '<div class="message my-message float-right"">'+message.content+'</div>'+
                        '</li>'
                    );
                    if (willScrollDown) {
                        chatContainer.scrollTop = chatContainer.scrollHeight;
                    }
                }
            }
        }
    }
    setInterval(fetchMessages, 500);
    });
</script>
</body>
</html>