<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/homepage/static/Truong/style.css">
    <script src="https://kit.fontawesome.com/bc4d8a1311.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Chat logo -->
    <div class="chatbox">
        <a href="https://chat.openai.com/" target="_blank" class="chat-link">
            <div class="chat-label">
                <i class="fa-solid fa-message"></i>
                <span>CSKH</span>
            </div>
        </a>
    </div>
    <!--Top navbar -->
    <div class="topnav">
        <div class="logo-home">
            <div class="logo">
            </div>
            <div class="app-name">
                <h4>BKvivu</h4>
                <span class="">Nền tảng chia sẻ dịch vụ hàng đầu</span>
            </div>
        </div>
        <div class="option">
            <a href="#my-profile" class="my-profile">
                <div>
                <i class="fa-solid fa-user"></i>
                <span>My Profile</span>
                </div>
            </a>

            <a href="#settings" class="setting">
                <div >
                <i class="fa-solid fa-gear"></i>
                <span>Settings</span>
                </div>
            </a>

            <a href="#log-out" class="log-out">
                <div >
                <i class="fa-solid fa-right-from-bracket"></i>
                <span>Log out</span>
                </div>
            </a>

        </div>
    </div>
<!-- Info profile -->
    <div class="top-profile">
        <div class="avatar-name">
            <div class="avatar">
                <img src="/img/avatar.jpg" alt="">
            </div>
            <div class="name">
                <h1 id="name-profile">Phan Bá Trường</h2>
                <div class="rated">
                    <h4 id="point-rate">4.5</h4>
                    <h4 id="point-max">/ 5</h4>
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
        </div>
        <div class="info-profile">
            <div class="contacts-vote">
                <div class="contacts-list">
                    <a target="_blank" href="https://www.facebook.com/pbtruong.03" class="contact">
                        <div class="icon-contact"><i class="fa-brands fa-facebook"></i></div>
                    </a>
                    <a href="#website" class="contact">
                        <div class="icon-contact"><i class="fa-solid fa-globe"></i></div>
                    </a>
                    <a href="tel:18008055" class="contact">
                        <div class="icon-contact"><i class="fa-solid fa-phone"></i></div>
                    </a>
                </div>
                <a href="#vote" class="vote-profile">
                    <div class="votestar">
                        <i class="fa-solid fa-marker"></i>
                        <span>Đánh giá</span>
                    </div>
                </a>
            </div>
            <div class="address-info">
                <a href="#map">
                    <i class="fa-solid fa-location-dot"></i>
                    <h4>Số 1, Đại Cồ Việt, Bách Khoa, Hà Nội</h4>
                </a>
            </div>
        </div>
    </div>
    <!--  buttom-profile -->
    <div class="buttom-profile">
        <div class="bio">
            <div class="bio-title">
                <h3>Mô tả</h3>
            </div>
            <div class="bio-content">
                <p>Trung Nguyên E-Coffee là chuỗi cửa hàng bán lẻ thế giới cà phê của Tập đoàn Trung Nguyên Legend – nơi hội tụ tinh hoa của 3 nền văn minh cà phê: Ottoman – Roman – Thiền được ra mắt từ tháng 8/2019. Ngay từ khi ra đời, Trung Nguyên E-Coffee nhanh chóng tạo nên một làn sóng bùng nổ nhượng quyền mạnh mẽ, trở thành sự lựa chọn số 1 của hơn 1.000 Đối Tác và hiện diện trên toàn quốc. Trung Nguyên E-Coffee được xem là một giải pháp tối ưu cho cộng đồng kinh doanh, khởi nghiệp với cà phê, thích hợp cho nhiều đối tượng, nhiều diện tích kinh doanh.</p>
            </div>
        </div>
        <div class="menu">
            <div class="menu-title">
                <h3>Menu</h3>
            </div>
            <div class="list-type">
                <button class="type">
                    <span>Nước uống</span>
                </button>
                <button class="type">
                    <span>Ăn vặt</span>
                </button>
                <button class="type">
                    <span>Tô tượng</span>
                </button>
            </div>
            <div class="list-menu">
                <div class="products-list">
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/sinh-to-bo.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>Sinh tố bơ</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>70.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/banh-trang.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>Bánh tráng</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>35.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/tra-chanh.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>Trà chanh</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>25.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/tra-sua.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>Trà sữa trân châu full topping</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>70.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/tuong-lon.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>Tô tượng cỡ lớn</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>80.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/tuong-mini.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>Tô tượng mini</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>35.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/xien-ban.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>1 đĩa xiên bẩn</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>40.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                    <!-- product -->
                    <div class="product">
                        <div class="product-img">
                            <img src="/img/hitmeup.jpg" alt="">
                        </div>
                        <div class="product-name">
                            <h4>Xem Binz hát Hit me up</h4>
                        </div>
                        <div class="product-price-buy">
                            <div class="price">
                                <span>200.000</span>
                                <span>Đ</span>
                            </div>
                            <button class="buy">
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contents -->
    <div class="contents">
        <div class="top-contents">
            <div class="top-contents-left">
                <i class="fa-solid fa-newspaper"></i>
                <h1>Bài viết</h1>
            </div>
            <div class="top-contents-right">

            </div>
        </div>
        <div class="list-contents">
            <!-- Post # -->
            <div class="posts">
                <div class="top-posts">
                    <div class="left">
                        <div class="left-avatar avatar">
                            <img src="/img/avatar.jpg" alt="">
                        </div>
                        <div class="left-name-time">
                            <div class="name">
                                <h4>Phan Bá Trường</h4>
                            </div>
                            <div class="time">
                                <span>3 giờ trước</span>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
                <div class="content-post">
                    <div class="text">
                        <p>Trà sữa trân châu hay trà sữa Đài Loan (珍珠奶茶; trân châu nãi trà) là thức uống được chế biến từ trà xanh hoặc trà đen được các cửa hàng đồ uống tại Đài Trung, Đài Loan phát triển từ những năm 1980[1]. Đặc điểm của trà sữa trân châu là khi bị lắc, một lớp bọt nước mỏng được tạo thành trên bề mặt. Do đặc điểm này, trà bong bóng được dùng để gọi bất kỳ loại trà nào được lắc trong khi chuẩn bị, ví dụ như các loại trà đường "Bào mạt hồng trà" (泡沫紅茶), "Bào mạt lục trà" (泡沫綠茶).</p>
                    </div>
                    <div class="images">
                        <img src="/img/tra-sua.jpg" alt="">
                    </div>
                </div>
                <div class="bottom-posts">
                    <a href="#like" class="like-posts">
                        <div class="like-btn">
                            <i class="fa-solid fa-heart"></i>
                            <span>Thích</span>
                        </div>
                    </a>
                    <div class="cmt-posts">
                        <i class="fa-solid fa-comment"></i>
                        <form action="#submitcmt" method="POST">
                            <textarea class="comment"> Type your comment here.</textarea>
                            <input type="submit" name="submit" value="Send">
                        </form>
                    </div>
                    <a href="#share" class="share-posts">
                        <div class="share-btn">
                            <i class="fa-solid fa-share"></i>
                            <span>Share</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="posts">
                <div class="top-posts">
                    <div class="left">
                        <div class="left-avatar avatar">
                            <img src="/img/avatar.jpg" alt="">
                        </div>
                        <div class="left-name-time">
                            <div class="name">
                                <h4>Phan Bá Trường</h4>
                            </div>
                            <div class="time">
                                <span>3 giờ trước</span>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
                <div class="content-post">
                    <div class="text">
                        <p>Trà sữa trân châu hay trà sữa Đài Loan (珍珠奶茶; trân châu nãi trà) là thức uống được chế biến từ trà xanh hoặc trà đen được các cửa hàng đồ uống tại Đài Trung, Đài Loan phát triển từ những năm 1980[1]. Đặc điểm của trà sữa trân châu là khi bị lắc, một lớp bọt nước mỏng được tạo thành trên bề mặt. Do đặc điểm này, trà bong bóng được dùng để gọi bất kỳ loại trà nào được lắc trong khi chuẩn bị, ví dụ như các loại trà đường "Bào mạt hồng trà" (泡沫紅茶), "Bào mạt lục trà" (泡沫綠茶).</p>
                    </div>
                    <div class="images">
                        <img src="/img/tra-sua.jpg" alt="">
                    </div>
                </div>
                <div class="bottom-posts">
                    <a href="#like" class="like-posts">
                        <div class="like-btn">
                            <i class="fa-solid fa-heart"></i>
                            <span>Thích</span>
                        </div>
                    </a>
                    <div class="cmt-posts">
                        <i class="fa-solid fa-comment"></i>
                        <form action="#submitcmt" method="POST">
                            <textarea class="comment"> Type your comment here.</textarea>
                            <input type="submit" name="submit" value="Send">
                        </form>
                    </div>
                    <a href="#share" class="share-posts">
                        <div class="share-btn">
                            <i class="fa-solid fa-share"></i>
                            <span>Share</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="posts">
                <div class="top-posts">
                    <div class="left">
                        <div class="left-avatar avatar">
                            <img src="/img/avatar.jpg" alt="">
                        </div>
                        <div class="left-name-time">
                            <div class="name">
                                <h4>Phan Bá Trường</h4>
                            </div>
                            <div class="time">
                                <span>3 giờ trước</span>
                            </div>
                        </div>
                    </div>
                    <div class="right">

                    </div>
                </div>
                <div class="content-post">
                    <div class="text">
                        <p>Trà sữa trân châu hay trà sữa Đài Loan (珍珠奶茶; trân châu nãi trà) là thức uống được chế biến từ trà xanh hoặc trà đen được các cửa hàng đồ uống tại Đài Trung, Đài Loan phát triển từ những năm 1980[1]. Đặc điểm của trà sữa trân châu là khi bị lắc, một lớp bọt nước mỏng được tạo thành trên bề mặt. Do đặc điểm này, trà bong bóng được dùng để gọi bất kỳ loại trà nào được lắc trong khi chuẩn bị, ví dụ như các loại trà đường "Bào mạt hồng trà" (泡沫紅茶), "Bào mạt lục trà" (泡沫綠茶).</p>
                    </div>
                    <div class="images">
                        <img src="/img/tra-sua.jpg" alt="">
                    </div>
                </div>
                <div class="bottom-posts">
                    <a href="#like" class="like-posts">
                        <div class="like-btn">
                            <i class="fa-solid fa-heart"></i>
                            <span>Thích</span>
                        </div>
                    </a>
                    <div class="cmt-posts">
                        <i class="fa-solid fa-comment"></i>
                        <form action="#submitcmt" method="POST">
                            <textarea class="comment"> Type your comment here.</textarea>
                            <input type="submit" name="submit" value="Send">
                        </form>
                    </div>
                    <a href="#share" class="share-posts">
                        <div class="share-btn">
                            <i class="fa-solid fa-share"></i>
                            <span>Share</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div class="footer">
        <div class="left-footer">
            <div class="app-name">
                <h4>BKvivu</h4>
                <span> - </span>
                <span>Nền tảng chia sẻ dịch vụ hàng đầu</span>
            </div>
            <div class="copyright">
                © 2023 - BKvivu
            </div>
        </div>
        <div class="right-footer">
            <div class="about-us">
                <a href="" class="about-us-item">
                    <div>
                        Giới thiệu
                    </div>
                </a>
                <a href="" class="about-us-item">
                    <div>
                        Email
                    </div>
                </a>
                <a href="" class="about-us-item">
                    <div>
                        Địa chỉ: Trường CNTT & TT - Đại học Bách khoa Hà Nội
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>