/* Css rated */
.rated{
    display: flex;
}
.rated h4 {
    margin: 0;
}
#point-rate, #point-max{
    font-size: 24px;
    font-weight: 400;
    display: inline;
    margin: auto 0;
}
#num-vote{
    font-style: italic;
    font-weight: 400;
    margin: auto 0;
}
.rated i{
    font-size: 20px;
    color: yellow;
    margin: auto 5px;
}
#votestar{
    display: none;
}

#buttonvote{
    padding: 10px 20px;
    margin: auto 5px;
    background-color: rgb(170, 186, 204);
    border: 1px solid green;
    border-radius: 20px;
    text-decoration: none;
    box-sizing: border-box;
}
#buttonvote div{
    height: 100%;
    margin: auto;
}

/* Css vote */
#voteProfile{
    margin: auto 0;
    display: none;
}
#voteProfile {
    font-size: 20px;
    color: black;
    margin: auto 0;
}

.starsvote {
    margin: 0 3px;
}

.starsvote label{
    color: #ffe400;
}

.starsvote input{
    display: none;
}

.starsvote input+label{
    cursor: pointer;
}
.starsvote input:checked+label~label{
    color: #838383;
}
.starsvote label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}

.submit-closed{
    display: flex;
    justify-content: space-between;
}
.closed-vote{
    margin: auto 3px;
}
.submit-closed input{
    background-color: #7fffd4;
    padding: 1px 10px;
    border-radius: 20px;
}