{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{% static 'foods.css'%}"></link>
    <link rel="stylesheet" href="{% static 'tabbar.css'%}">
    <link rel="stylesheet" href="{% static 'list.css'%}">
    <link rel="stylesheet" href="{% static 'product.css'%}">
    <script src="https://kit.fontawesome.com/bc4d8a1311.js" crossorigin="anonymous"></script>
</head>
<body>

    {% for message in messages %}
        <div id="alert-message" js-message="{{message}}"></div>
    {% endfor %}
    <script>
        var message = document.getElementById('alert-message').getAttribute('js-message');
        alert(message);
    </script>

    <header>
        <a href="{% url 'profilepage:profilePage'%}" class="profile_link" style="position:absolute; left:10px; color:white; text-decoration:none; border:2px solid white; padding:5px">
            ← back to profile
        </a>
        <h1>Settings</h1>
    </header>

    <nav>
        <a href="{% url 'settingspage:gerenalPage' %}" onclick="">General</a>
        <a href="{% url 'settingspage:product' %}" onclick="showContent('products')">Products</a>
        <a href="#bills" onclick="showContent('bills')">Bills</a>
        <a href="#statistics" onclick="showContent('statistics')">Statistics</a>
        <a href="{% url 'settingspage:postPage' %}" onclick="">Posts</a>
    </nav>

    {% block product %}{% endblock product %}
    {% block addproduct %}{% endblock addproduct %}
</body>
</html>