{% extends "settings.html" %}
{% load static %}

<!-- {% block bill %} -->
    <!-- <label for="">Name : </label>
    <p>{{bill.sharer.name}}</p>
    <label for="">Time : </label>
    <p>{{bill.time}}</p>
    <label for="">Price : </label>
    <p>{{bill.price}}</p>
    <label for="">Image : </label>
    <img src="{{bill.img.url}}" alt="bill">
    <div style="display: flex;">
        <button>Accept</button>
        <button>Decline</button>
        <button onclick="closeDialogBill()">Close</button>
    </div> -->
<!-- {% endblock %} -->

{% block bills%}
<ul>
    <li>
        Model Bill chưa có dữ liệu nên chưa hiện thị giao diện
        <button>Details</button>
    </li>
    <li>
        Model Bill chưa có dữ liệu nên chưa hiện thị giao diện
        <button>Details</button>
    </li>
    {% for bill in bills %}
        <li>
            Khách hàng {{bill.sharer.name}} đã gửi yêu cầu xác nhận đơn hàng, ấn vào để xem chi tiết
            <button>
                <a href="{ % url 'settingspage:viewBill' bill.id %}">Details</a>
            </button>
        </li>
        
    {% endfor %}
</ul>
{% endblock%}