{% extends "settingspage/base.html" %}
{% load static %}

{% block post%}
<div class="container">
    <ul>
        {% for post in acc.post_set.all %}
            <li>
                <p style="font-weight: bold;"> &#9997; {{user.name}}</p>
                <p style="font-weight: bold;">&#9812;  {{post.title}}</p>
                <p style="font-weight: bold;">	&#x1F551; {{post.time}}</p>
                <div style="display: flex; align-items: center;">
                    <a style="text-decoration: none; font-size: 30px; " href="{% url 'settingspage:changePost' post.id %}">&#9998;</a>
                    <a style="text-decoration: none; font-size: 30px; margin-left: auto;" href="{% url 'settingspage:deletePost' post.id %}">
                        <div>
                            <i class="fa-solid fa-trash"></i>
                        </div>
                    </a>
                </div>
                
            </li>
        {% endfor %} 
    </ul>
    <a style="text-decoration: none;" href="{% url 'settingspage:addPost' %}"><button style="font-size: 30px;">&#10010; Tạo bài viết</button></a>
    </div>
 {% endblock %}
 {% load static %}

