<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>postsPage</title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://kit.fontawesome.com/5045ba31f9.js" crossorigin="anonymous"></script>
</head>

<body>
  <!--Header-->
  <div class="header">
    <h1>  BKvivu</h1>
  </div>

  <div class="container">
    <div class="menu">
      <!-- Sidebar -->
      <a href="\homepage"><img src="{% static 'img/logo.jpeg'%}" alt="logo"></a>
      <i class="fas fa-home"> Post</i>
      <i class="fa-solid fa-magnifying-glass">  Restaurants</i>
      {% comment %} <i class="fa-solid fa-circle-plus"> Create</i>
      <i class="fa-solid fa-user">  User</i>   
      <i class="fas fa-bell"> Notification</i> 
      <i class="fas fa-cog">  Settings</i>  {% endcomment %}
    </div>

    <!-- Content  -->
    <div class="content">
      <!-- Post -->
      <div class="post-list">
        {% for post in posts %}
          <div class="post-container">
            <div class="post-content">
              {% comment %} <img src="" alt=""> {% endcomment %}
              <div class="sharer-info">
                <img src="{{post.account.avatar}}" alt="" class="avatar">
                <h2>{{post.account}}</h2>
                <h6>Thời gian: {{post.time}}</h6>
              </div>
              
              <div class="provider-info">
                <h4>Tên cửa hàng: {{post.provider}}</h4>
                <h4>Địa điểm: {{post.location}}</h4>
                <h4>Tiêu đề: {{post.title}}</h4>
              </div>

              <p>{{post.content}}</p>

              <div class="post-actions">
                <i class="far fa-thumbs-up">  {{post.like}}</i>  
                <i class="far fa-comment"></i>
                <i class="fas fa-share"></i>
              </div>

              <div class="comment">
                <img src="{% static 'img/user2.jpg'%}" alt="" class="avatar"> 
                <input type="text" placeholder="Viết bình luận ...">
              </div>

            </div>
          </div>
        {% endfor %}
      </div>

      <div class="restaurant-list">
        
      </div>
    </div>
  </div>

</body>
</html>




