{% extends "common/layout.html" %}
{% load static %}
{% block content %}
    <div class="posts">
        <div class="post-list">
            <ul>
                {% for item in info %}
                <li class="item">
                    <div class="info">
                        <a href="{% url 'profilepage:profilePage' item.post.account.id%}">
                            <img src="{{item.user.avatar.url}}" alt="{{item.post.account.username}}" class="avatar">
                        </a>
                        <h2>{{item.user.name}}</h2>
                        <h4>Time: {{item.post.time}}</h4>
                    </div>
                    <h3>{{item.post.title}}</h3>
                    <p>{{item.post.content}}</p>
 
                    {% if item.img|length > 0 %}
                    <div class="post-photo">
                        {% for image in item.img %}
                        <img src="{{image.img.url}}" alt="Post 1" class="photo">
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="post-actions">
                        <button id="{{item.post.id}}" value="false" onclick="likeAction(event)"> 
                            <big id="{{item.post.id}}_like">{{item.post.like}} </big> 
                            <i class="far fa-thumbs-up"></i>
                        </button>
                        <i class="far fa-comment"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>

                    <div class="post-comment">
                        <img src="{% static 'img/user2.jpg'%}" alt="" class="avatar">
                        <input type="text" placeholder="Viết bình luận ..." class="comment" id="{{item.post.id}}_comment">
                        <button id="{{item.post.id}}" onclick="commentAction(event)"> Gửi</button>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        
        {% comment %} -------------------------------Searching------------------------------- {% endcomment %}
        <div class="searching">
            <div class="search-container">
                <label for="search">Search: </label>
                <input type="search" id="search" name="search" placeholder="Tìm kiếm ở đây..."> 
                <button type="submit">Tìm kiếm</button>
            </div>

            <div class="result-search">
                <div class="result">
                    <img src="{% static 'img/user3.jpg'%}" alt="User 1" class="avatar">
                    <div class="info">
                        <h4>Restaurant1</h4>
                        <i class="fa-solid fa-star">    4.5</i>
                        <h5>Địa chỉ: Hà Nội</h5>
                    </div>
                </div>

                <div class="result">
                    <img src="{% static 'img/user3.jpg'%}" alt="User 1" class="avatar">
                    <div class="info">
                        <h4>Restaurant1</h4>
                        <i class="fa-solid fa-star">    4.5</i>
                        <h5>Địa chỉ: Hà Nội</h5>
                    </div>
                </div>

                <div class="result">
                    <img src="{% static 'img/user3.jpg'%}" alt="User 1" class="avatar">
                    <div class="info">
                        <h4>Restaurant1</h4>
                        <i class="fa-solid fa-star">    4.5</i>
                        <h5>Địa chỉ: Hà Nội</h5>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <script>
        function likeAction(event) {
            const button = event.currentTarget;
            let postId = parseInt(button.id, 10)
            const likeElement = document.getElementById(button.id + "_like");
            const like = parseInt(likeElement.innerText, 10);   
            let newLike = 10;
            if( button.value === "false"){
                newLike = like + 1;
                button.value = "true";
            }
            else{
                newLike = like - 1;
                button.value = "false";
            }
            likeElement.innerText = newLike
            // Gửi yêu cầu AJAX để cập nhật số lượng like trên server
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/postspage/update_likes/", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(JSON.stringify({ postId :  postId, like: newLike}));
        }

        function commentAction(event) {
            const button = event.currentTarget;
            let postId = parseInt(button.id, 10)
            const contentCmd = document.getElementById(button.id + "_comment").value;
            
            // Gửi yêu cầu AJAX để cập nhật số lượng like trên server
            const xhr = new XMLHttpRequest();
            xhr.open("POST", "/postspage/insert_comment/", true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(JSON.stringify({ postId :  postId, comment: contentCmd}));
        }
    </script>
{% endblock %}