{% extends "common/layout.html" %}
{% load static %}
{% block content %}
    <div class="restaurants">
        <div class="restaurant-list">
            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>

            <div class="restaurant">
                <img src="{% static 'img/user1.jpg'%}" alt="" class="avatar" >
                <div class="restaurant-info">
                    <h3>Restaurant1</h3>
                    <i class="fa-solid fa-star">    4.5</i>
                    <h4>Địa chỉ: Hà Nội</h4>
                </div>
                <p>Quán nướng có thể được chia thành hai loại chính là quán nướng bình dân và quán nướng cao cấp. Quán nướng bình dân thường có giá cả phải chăng, phù hợp với nhiều đối tượng khách hàng. Quán nướng cao cấp thường có giá cả cao hơn, tập trung vào chất lượng món ăn và dịch vụ.</p>
            </div>
        </div>
    </div>
{% endblock %}
