{% if type == False%}
    {% if login == True%}
        <h1>Đăng nhập thành công. Hello {{username}}</h1><br>
        <a href="homepage">Homepage </a>
    {% else %}
        <h1>Đăng nhập không thành công</h1><br>
        <a href="\">Quay lại </a>
    {% endif %}
{% else %}
    {% if signup == True %}
        <h1>Đăng kiss thành công. Hello {{username}}</h1><br>
        <a href="homepage">Homepage </a>
    {% else %}
    <h1>Tài khoản đã tồn tại</h1><br>
    <a href="\">Quay lại </a>
    {% endif%}
{% endif%}